.image_questions {
  margin: 20px 0 0 20px;
  /*width: 730px;*/
}
.image_questions .ques-head {
  background: #3b3a33;
  border-radius: 3px;
  color: #fff;
  height: 60px;
  padding: 10px;
}
.image_questions .ques-head .top {
  font-size: 14px;
  margin-bottom: 15px;
}
.image_questions .ques-head .top span {
  float: right;
}
.image_questions .ques-head h3 {
  font-size: 14px;
  font-weight: bold;
}
.image_questions .ques-footer span {
  background: #3b3a33;
  border-bottom: 1px solid #65645f;
  display: block;
  height: 20px;
}
.image_questions .ques-footer .btns {
  background: #292825;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
  padding: 20px;
}

ul.qsd_image_matches {
  height: 100%;
}
ul.qsd_image_matches li span {
  padding: 5px;
  width: 100px;
  height: 50px;
  background: #666;
  color: #fff;
  text-align: center;
  line-height: 50px;
}
ul.qsd_image_matches li {
  float: left;
  list-style-type: none !important;
  font-size: 14px;
  font-weight: bold;
  /*line-height: 85px;*/
  /*list-style: none;*/
  margin-right: 10px;
  /*text-align: end;*/
  /*vertical-align: bottom !important;*/ 
  /*padding: 5px;*/
  /*width: 85px;*/
}
.reset_btn {
  margin-bottom: 10px;
}
div.ddlines-container {
  border: none;
  margin-top: 0px;
  padding: 0 !important;
  position: relative;
}
div.ddlines-container > img {
  display: inline;
  visibility: visible;
}
.seperator {
  padding: 8px;
  text-align: center;
  width: 392px;
}
fieldset#edit-field-sentence-dragdrop-file-und .fieldset-description p em {
  color: red;
}

.quiz-question-body{font-size: 16px; }

.img_option {
  border-bottom: 1px solid;
}

.item-list ul li{
  padding: 0 !important;
  margin: 5px  !important;
}

.draggable {cursor: pointer;}
